<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jack Furr's resume</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./assets/style.css" rel="stylesheet">
  <meta name="description" content="Jack Furr's Info" />
  <meta property="og:url" content="https://jackfurr.github.io" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Jack Furr's resume" />
  <meta property="og:description" content="Jack Furr's Info" />
  <meta property="og:image" content="https://pbs.twimg.com/profile_images/1238136529/jack_400x400.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jackfurr" />
  <meta name="twitter:title" content="Jack Furr's resume" />
  <meta name="twitter:description" content="Jack Furr's Info" />
  <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1238136529/jack_400x400.jpg" />
</head>

<body>
  <header>
    <h1>Jack Furr</h1>
    <address>
<ul>
<!-- <li><a href="https://sklivvz.com">Blog</a></li> -->
<li><a href="mailto:jackefurr@gmail.com">Email</a></li>
<li><a href="https://twitter.com/jackfurr">Twitter</a></li>
<li><a href="https://github.com/jackfurr">Github</a></li>
</ul>
</address>
  </header>
  <nav>
    <ul>
      <li><a href="#">Resume</a></li>
      <li><a href="#volunteer">Volunteer</a></li>
      <li><a href="#projects">Projects</a></li>
    </ul>
  </nav>
  <section id="intro">
    <h3>About me</h3>
    <p>I am looking for jobs that challenge me in positive ways. What delights me are <a href="https://jackfurr.github.io/index.html#stackoverflow">complex problems and large sites</a>, with many users and page views.</p>
    <p>I <a href="https://jackfurr.github.io/talks.html">speak about software architecture</a> at conferences in Europe and Asia. In my spare time, I blog about my <a href="https://jackfurr.github.io/index.html#projects">crazy side projects</a> and give
      a hand in the community through initiatives like <a href="https://jackfurr.github.io/index.html#outreach">Andela</a>, a company that provides work and mentorship to African developers.</p>
    <p>Leaving a positive footprint is important to me.</p>
    <p>I earned my chops on a ZX Spectrum, which I love to bits, and I am entirely self taught. I love learning stuff and practicing my trade. Whatever the coding topic, it's probably something I'd love to chat about.</p>
  </section>
  <section id="employment">
    <header>
      <h2>Employment History</h2>
    </header>
    <article id="opera">
      <header>
        <img src="./assets/opsoft-logo.png" alt="Opera Software logo" />
        <h4>Engineering Manager</h4>
        <h3>Opera Software</h3>
        <p>2015&ndash;2017</p>
      </header>
      <p>Stack Overflow is one of the global top 30 web sites, and the most important destination for developers worldwide. It currently has 1.2 billion page views per month, and has over 13,000,000 questions.</p>
      <p>&ldquo;Valued associate&rdquo; in the core team taking care of new development and maintenance of the main Stack Overflow site and its meta site, all the network sites, and various other things like apps, etc.</p>
      <p>Besides programming and performance tuning, I also contribute by <a href="https://jackfurr.github.io/talks.html">speaking at various conferences</a> and attending community events, like job fairs, as a representative of Stack Exchange.</p>
      <footer><span>nodejs</span><span>php</span><span>memcached</span><span>web-services</span><span>rest</span><span>aws</span><span>linux</span><span>mysql</span><span>backbonejs</span><span>javascript</span><span>tdd</span></footer>
    </article>
    <article id="opera">
      <header>
        <img src="./assets/opsoft-logo.png" alt="Opera Software logo" />
        <h4>Senior Engineering Team Lead</h4>
        <h3>Opera Software</h3>
        <p>2015&ndash;2015</p>
      </header>
      <p>Stack Overflow is one of the global top 30 web sites, and the most important destination for developers worldwide. It currently has 1.2 billion page views per month, and has over 13,000,000 questions.</p>
      <p>&ldquo;Valued associate&rdquo; in the core team taking care of new development and maintenance of the main Stack Overflow site and its meta site, all the network sites, and various other things like apps, etc.</p>
      <p>Besides programming and performance tuning, I also contribute by <a href="https://jackfurr.github.io/talks.html">speaking at various conferences</a> and attending community events, like job fairs, as a representative of Stack Exchange.</p>
      <footer><span>nodejs</span><span>php</span><span>memcached</span><span>web-services</span><span>rest</span><span>aws</span><span>linux</span><span>mysql</span><span>backbonejs</span><span>javascript</span><span>tdd</span></footer>
    </article>
    <article id="opera">
      <header>
        <img src="./assets/opsoft-logo.png" alt="Opera Software logo" />
        <h4>Senior Software Engineer</h4>
        <h3>Opera Software</h3>
        <p>2013&ndash;2017</p>
      </header>
      <p>Stack Overflow is one of the global top 30 web sites, and the most important destination for developers worldwide. It currently has 1.2 billion page views per month, and has over 13,000,000 questions.</p>
      <p>&ldquo;Valued associate&rdquo; in the core team taking care of new development and maintenance of the main Stack Overflow site and its meta site, all the network sites, and various other things like apps, etc.</p>
      <p>Besides programming and performance tuning, I also contribute by <a href="https://jackfurr.github.io/talks.html">speaking at various conferences</a> and attending community events, like job fairs, as a representative of Stack Exchange.</p>
      <footer><span>php</span><span>memcached</span><span>web-services</span><span>jquery</span><span>rest</span><span>aws</span><span>linux</span><span>mysql</span><span>backbonejs</span><span>javascript</span><span>tdd</span></footer>
    </article>
    <article>
      <header>
        <img src="./assets/netpulse01.png" alt="Netpulse logo" />
        <h4>Senior Software Engineer</h4>
        <h3>Netpulse Inc.</h3>
        <p>2008&ndash;2013</p>
      </header>
      <p>Netpulse is a media and information network for active lifestyle consumers. </p>
      <p>Software architect for a number of projects that interact with equipment manufactures, advertisers and end users. Designed and implemented the CSAFE communication layer in the Netpulse platform to facilitate workout tracking and equipment control.</p>
      <footer><span>architecture</span><span>tdd</span><span>c++</span><span>aws</span><span>java</span><span>qt</span><span>jquery</span><span>mysql</span><span>linux</span><span>rest</span></footer>
    </article>
    <article>
      <header>
        <img src="./assets/hightail.png" alt="YouSendIt logo">
        <h4>Senior Web Application Developer</h4>
        <h3>Hightail (formally YouSendIt)</h3>
        <p>2007&ndash;2008</p>
      </header>
      <p>Hightail – formerly YouSendIt – is a cloud service that lets users send, receive, digitally sign and synchronize files.</p>
      <p>Web Application Developer for the YouSendIt Corporate Suite for companies and enterprises to offload email attachments and reduce storage and bandwidth costs. Successfully shipped new features as well as developed highly visible feature requests.</p>
      <footer><span>linux</span><span>apache</span><span>mysql</span><span>php</span><span>javascript</span><span>yui</span></footer>
    </article>
    <article>
      <header>
        <img src="./assets/netpulse01.png" alt="Netpulse logo" />
        <h4>Senior Software Engineer</h4>
        <h3>Netpulse, LLC</h3>
        <p>1998&ndash;2007</p>
      </header>
      <p>Netpulse is a media and information network for active lifestyle consumers. </p>
      <p>Software architect for a number of projects that interact with equipment manufactures, advertisers and end users. Designed and implemented the CSAFE communication layer in the Netpulse platform to facilitate workout tracking and equipment control.</p>
      <footer><span>architecture</span><span>mfc</span><span>c++</span><span>javascript</span><span>java</span><span>mysql</span><span>jquery</span><span>com</span><span>windows</span></footer>
    </article>
  </section>
  <section id="community">
    <header>
      <h2>Community</h2>
    </header>
    <article id="volunteer">
      <header>
        <h3>Volunteer</h3>
      </header>
      <p>I am active as a <a href="https://sklivvz.com">blogger</a> and on <a href="http://stackexchange.com/users/4623/sklivvz">the Stack Exchange network</a>. As a blogger, some of my post were featured on the home page of Hacker News and received good
        feedback.</p>
      <p>Some popular blog posts:</p>
      <ul>
        <li><a href="https://sklivvz.com/posts/i-built-a-hardware-rng-for-christmas">I built a hardware RNG for Christmas</a></li>
        <li><a href="https://sklivvz.com/posts/i-dont-love-the-single-responsibility-principle">I don't love the single responsibility principle</a></li>
      </ul>
      <p>In the Stack Exchange network I wrote many highly upvoted (100+) posts, both prior and during my tenure as a Stack employee.</p>
      <ul>
        <li><a href="https://stackoverflow.com/questions/191364/quick-unix-command-to-display-specific-lines-in-the-middle-of-a-file/191449#191449" target="_blank">Quick unix command to display specific lines in the middle of a file?</a></li>
        <li><a href="https://meta.stackexchange.com/questions/251095/let-s-improve-our-site-navigation" target="_blank">Let’s improve our site navigation</a></li>
        <li><a href="https://stackoverflow.com/questions/145689/relational-database-design-patterns" target="_blank">Relational Database Design Patterns?</a></li>
        <li><a href="https://physics.stackexchange.com/questions/290/what-really-allows-airplanes-to-fly/295#295" target="_blank">What really allows airplanes to fly?</a></li>
        <li><a href="https://stackoverflow.com/questions/191342/random-record-from-a-database-table-t-sql/191348#191348" target="_blank">Random record from a database table (T-SQL)</a></li>
      </ul>
    </article>
    <article id="projects">
      <header>
        <h3>Projects</h3>
      </header>
      <p>Programming is my job but also my passion. I work on computer and technology related projects in my spare time all year round. Here are a few of my recent ones.</p>
      <h4>Blasteroids</h4>
      <p><a href="http://new.sklivvz.com/content/blasteroids/" target="_blank">Blasteroids</a> is an 80's arcade space shoot-em-up, adapted to modern times. It's still an early alpha as the game is missing features, however it is fully playable and fun!
        The game is written in vanilla JavaScript. It works only on desktops.</p>
      <h4>My homebrew computer</h4>
      <p>I wanted to understand how transistors are assembled to make gates and how gates are assembled to make usable computer parts. I am attempting to build a computer from scratch and <a href="https://sklivvz.com/tags/hardware">blogging</a> about it.
      </p>
      <h4>z80</h4>
      <p>z80 is, unsurprisingly, a <a href="https://sklivvz.com/posts/z80" target="_blank">z80 emulator</a> library, written in C# using TDD. I am a huge fan of this CPU and its assembly language and developing it was a pleasure.
    </article>
  </section>
  <script>
    /* <![CDATA[ */
    (function(d, s, a, i, j, r, l, m, t) {
      try {
        l = d.getElementsByTagName('a');
        t = d.createElement('textarea');
        for (i = 0; l.length - i; i++) {
          try {
            a = l[i].href;
            s = a.indexOf('/cdn-cgi/l/email-protection');
            m = a.length;
            if (a && s > -1 && m > 28) {
              j = 28 + s;
              s = '';
              if (j < m) {
                r = '0x' + a.substr(j, 2) | 0;
                for (j += 2; j < m && a.charAt(j) != 'X'; j += 2) s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                j++;
                s = decodeURIComponent(s) + a.substr(j, m - j)
              }
              t.innerHTML = s.replace(/</g, '&lt;').replace(/\>/g, '&gt;');
              l[i].href = 'mailto:' + t.value
            }
          } catch (e) {}
        }
      } catch (e) {}
    })(document); /* ]]> */
  </script>
</body>

</html>
